In [66]:
import pandas 
import warnings

warnings.filterwarnings("ignore")

In [67]:
data_frame = pandas.read_excel("D:\\master2\\powerBI\\Tp\\files\\Etudiants.xlsx")

In [68]:
data_frame.head(5)

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0

In [69]:
data_frame.tail(5)

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
15,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [70]:
data_frame.shape

(20, 9)

In [71]:
data_frame.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CIN                20 non-null     object
 1   Nom et Prenom      20 non-null     object
 2   Date de Naissance  19 non-null     object
 3   Lieu de Naissance  19 non-null     object
 4   Note Bac           18 non-null     float64
 5   Option Bac         18 non-null     object
 6   Note Licence       17 non-null     float64
 7   Option Licence     18 non-null     object
 8   Nombre Années      18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [72]:
data_frame.describe()

        Note Bac  Note Licence  Nombre Années
count  18.000000     17.000000      18.000000
mean   14.040556     13.920588       4.055556
std     2.819504      1.979831       1.109967
min    10.520000     10.000000       3.000000
25%    11.010000     12.520000       3.000000
50%    14.070000     14.870000       4.000000
75%    16.332500     15.310000       5.000000
max    18.170000     16.090000       6.000000

In [73]:
data_frame.iloc[0:1]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0

In [74]:
data_frame.iloc[0].values

array(['CD000001', 'BOUZIDI AMINE', '09/03/2000', 'FES', 14.29,
       'sciences mathématiques a', 14.07, 'SMI', 3.0], dtype=object)

In [75]:
data_frame["Date de Naissance"]

0     09/03/2000
1      2003-12-8
2      1994-6-28
3     25/11/2002
4     19/10/2003
5       8/8/1999
6      2004-1-23
7     01/01/2001
8     28/02/2002
9      1998-5-16
10     29/2/1992
11    08/10/1995
12           NaN
13    25/11/2002
14     2003-12-8
15    28/02/2002
16     2004-1-23
17     1994-6-28
18      8/8/1999
19    01/01/2001
Name: Date de Naissance, dtype: object

In [76]:
data_frame.columns

Index(['CIN', 'Nom et Prenom', 'Date de Naissance', 'Lieu de Naissance',
       'Note Bac', 'Option Bac', 'Note Licence', 'Option Licence',
       'Nombre Années'],
      dtype='object')

In [77]:
data_frame[["CIN", "Date de Naissance"]].iloc[0:1]

        CIN Date de Naissance
0  CD000001        09/03/2000

In [78]:
data_frame[data_frame["Note Bac"]>14]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
3,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
5,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
8,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
11,CD000012,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
13,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
15,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
18,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0

In [79]:
data_frame[(data_frame["Lieu de Naissance"]=='FES')| (data_frame["Lieu de Naissance"]=='RABAT')]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
6,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
9,CD000010,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
14,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
16,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
19,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [80]:
data_frame.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [81]:
# data_frame.drop_duplicates().duplicated()
data_frame.drop_duplicates()  # use in drop_duplicates(inplace = true) to change the data frame 
# or a new variable to store the new unique valuse

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
data_frame[data_frame["Note Bac"].isna()]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
12,CD000013,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
data_frame[(data_frame["Note Bac"].isna() )| (data_frame["Option Licence"].isna())]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
data_frame[data_frame.isna().any(axis=1)]

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
data_frame.isnull().sum()

CIN                  0
Nom et Prenom        0
Date de Naissance    1
Lieu de Naissance    1
Note Bac             2
Option Bac           2
Note Licence         3
Option Licence       2
Nombre Années        2
dtype: int64

In [86]:
data_frame.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [87]:
data_frame.fillna("NULL")

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.0,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.0,SMC,4.0
7,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI HAMZA,29/2/1992,FES,NULL,NULL,NULL,Sciences Mathématiques et Informatique,NULL
11,CD000012,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NULL,NULL,4.0
12,CD000013,ALAOUI ANASS,NULL,NULL,NULL,NULL,NULL,NULL,NULL
13,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.0,SMC,4.0
17,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.0,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [88]:
data_frame.dropna()

,CIN,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
13,CD000004,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [89]:
nom = []
prenom = []

for i in range(len(data_frame)):
    print(
    "nom : " , data_frame["Nom et Prenom"].iloc[i].split()[0],
    "prenom: ",data_frame["Nom et Prenom"].iloc[i].split()[1]
    )
for i in range(len(data_frame)):
    nom.append( data_frame["Nom et Prenom"].iloc[i].split()[0])
    prenom.append (data_frame["Nom et Prenom"].iloc[i].split()[1])
print(nom)
print(prenom)

nom :  BOUZIDI prenom:  AMINE
nom :  ALAMI prenom:  ALAE
nom :  ZANOUU prenom:  ABDERAHIMME
nom :  BENSLIMANE prenom:  ILHAME
nom :  AMMI prenom:  KARIM
nom :  SAIQ prenom:  MOHAMMED
nom :  OUATIK prenom:  JALAL
nom :  ZAIM prenom:  MERIAM
nom :  CHIBI prenom:  HIBA
nom :  DMINI prenom:  SAAD
nom :  AOUADI prenom:  HAMZA
nom :  SAMI prenom:  ILIASS
nom :  ALAOUI prenom:  ANASS
nom :  BENSLIMANE prenom:  ILHAME
nom :  ALAMI prenom:  ALAE
nom :  CHIBI prenom:  HIBA
nom :  OUATIK prenom:  JALAL
nom :  ZANOUU prenom:  ABDERAHIMME
nom :  SAIQ prenom:  MOHAMMED
nom :  ZAIM prenom:  MERIAM
['BOUZIDI', 'ALAMI', 'ZANOUU', 'BENSLIMANE', 'AMMI', 'SAIQ', 'OUATIK', 'ZAIM', 'CHIBI', 'DMINI', 'AOUADI', 'SAMI', 'ALAOUI', 'BENSLIMANE', 'ALAMI', 'CHIBI', 'OUATIK', 'ZANOUU', 'SAIQ', 'ZAIM']
['AMINE', 'ALAE', 'ABDERAHIMME', 'ILHAME', 'KARIM', 'MOHAMMED', 'JALAL', 'MERIAM', 'HIBA', 'SAAD', 'HAMZA', 'ILIASS', 'ANASS', 'ILHAME', 'ALAE', 'HIBA', 'JALAL', 'ABDERAHIMME', 'MOHAMMED', 'MERIAM']

In [90]:
data_frame.insert(1,"nom",nom,True)
data_frame

,CIN,nom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [91]:
data_frame.insert(2,"prenom",prenom,True)
data_frame

,CIN,nom,prenom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,BOUZIDI AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,KARIM,AMMI KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,SAAD,DMINI SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,HAMZA,AOUADI HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,ILIASS,SAMI ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAE,ALAMI ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,JALAL,OUATIK JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [92]:
data_frame.drop("Nom et Prenom" ,axis=1)

,CIN,nom,prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,09/03/2000,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,KARIM,19/10/2003,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,SAAD,1998-5-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,HAMZA,29/2/1992,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,ILIASS,08/10/1995,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,25/11/2002,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAE,2003-12-8,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,HIBA,28/02/2002,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,JALAL,2004-1-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,1994-6-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,8/8/1999,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,01/01/2001,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [93]:
data_frame[["nom","prenom"]] = data_frame['Nom et Prenom'].str.split(' ', expand= True)

In [94]:
data_frame["Date de Naissance"] = pandas.to_datetime(data_frame["Date de Naissance"],format= 'mixed')
data_frame

,CIN,nom,prenom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,BOUZIDI AMINE,2000-09-03,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,ALAMI ALAE,2003-12-08,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,1994-06-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,2002-11-25,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,KARIM,AMMI KARIM,2003-10-19,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,1999-08-08,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,OUATIK JALAL,2004-01-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,ZAIM MERIAM,2001-01-01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,HIBA,CHIBI HIBA,2002-02-28,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,SAAD,DMINI SAAD,1998-05-16,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,HAMZA,AOUADI HAMZA,1992-02-29,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,ILIASS,SAMI ILIASS,1995-08-10,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,ALAOUI ANASS,NaT,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,2002-11-25,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAE,ALAMI ALAE,2003-12-08,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,HIBA,CHIBI HIBA,2002-02-28,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,JALAL,OUATIK JALAL,2004-01-23,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,1994-06-28,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,1999-08-08,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,ZAIM MERIAM,2001-01-01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [95]:
data_frame["Date de Naissance"] = data_frame["Date de Naissance"].dt.strftime("%d/%m/%y")
data_frame

,CIN,nom,prenom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,BOUZIDI AMINE,03/09/00,FES,14.29,sciences mathématiques a,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,KARIM,AMMI KARIM,19/10/03,DAKHLA,13.85,sciences de la vie et de la terre,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,SAAD,DMINI SAAD,16/05/98,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,HAMZA,AOUADI HAMZA,29/02/92,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,ILIASS,SAMI ILIASS,10/08/95,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,sciences mathématiques b,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,sciences physiques,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [96]:
data_frame["Option Bac"] = data_frame["Option Bac"].str.upper()
data_frame

,CIN,nom,prenom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,BOUZIDI AMINE,03/09/00,FES,14.29,SCIENCES MATHÉMATIQUES A,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,SCIENCES MATHÉMATIQUES B,15.31,Sciences Mathématiques et Applications,3.0
2,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
4,CD000005,AMMI,KARIM,AMMI KARIM,19/10/03,DAKHLA,13.85,SCIENCES DE LA VIE ET DE LA TERRE,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0
8,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,SCIENCES PHYSIQUES,15.23,Sciences de la Matière Physique,3.0
9,CD000010,DMINI,SAAD,DMINI SAAD,16/05/98,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,Sciences Mathématiques et Informatique,5.0
10,CD000011,AOUADI,HAMZA,AOUADI HAMZA,29/02/92,FES,NaN,NaN,NaN,Sciences Mathématiques et Informatique,NaN
11,CD000012,SAMI,ILIASS,SAMI ILIASS,10/08/95,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,Sciences de la Matière Chimie,6.0
14,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,SCIENCES MATHÉMATIQUES B,15.31,Sciences Mathématiques et Applications,3.0
15,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,SCIENCES PHYSIQUES,15.23,Sciences de la Matière Physique,3.0
16,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,Sciences de la Vie,3.0

In [97]:
print(data_frame["Option Bac"].unique)

<bound method Series.unique of 0              SCIENCES MATHÉMATIQUES A
1              SCIENCES MATHÉMATIQUES B
2                    SCIENCES PHYSIQUES
3                    SCIENCES PHYSIQUES
4     SCIENCES DE LA VIE ET DE LA TERRE
5              SCIENCES MATHÉMATIQUES B
6              SCIENCES MATHÉMATIQUES B
7     SCIENCES DE LA VIE ET DE LA TERRE
8                    SCIENCES PHYSIQUES
9              SCIENCES MATHÉMATIQUES A
10                                  NaN
11                   SCIENCES PHYSIQUES
12                                  NaN
13                   SCIENCES PHYSIQUES
14             SCIENCES MATHÉMATIQUES B
15                   SCIENCES PHYSIQUES
16             SCIENCES MATHÉMATIQUES B
17                   SCIENCES PHYSIQUES
18             SCIENCES MATHÉMATIQUES B
19    SCIENCES DE LA VIE ET DE LA TERRE
Name: Option Bac, dtype: object>

In [104]:
def normalizeOptionFun(data_frame):
    for i in range(len(data_frame)):
        if(data_frame["Option Licence"].iloc[i] == "Sciences Mathématiques et Informatique" ):
            data_frame["Option Licence"].iloc[i] = 'SMI'
        elif (
            data_frame["Option Licence"].iloc[i]
            == "Sciences Mathématiques et Applications"
        ):
            data_frame["Option Licence"].iloc[i] = 'SMA'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Matière Physique":
            data_frame["Option Licence"].iloc[i] ='SMP'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Matière Chimie":
            data_frame["Option Licence"].iloc[i] = 'SMC'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Vie":
            data_frame["Option Licence"].iloc[i] = "SVI"
        data_frame
    return data_frame

data_frame = normalizeOptionFun(data_frame)
data_frame

,CIN,nom,prenom,Nom et Prenom,Date de Naissance,Lieu de Naissance,Note Bac,Option Bac,Note Licence,Option Licence,Nombre Années
0,CD000001,BOUZIDI,AMINE,BOUZIDI AMINE,03/09/00,FES,14.29,SCIENCES MATHÉMATIQUES A,14.07,SMI,3.0
1,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,SCIENCES MATHÉMATIQUES B,15.31,SMA,3.0
2,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
3,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,SMC,6.0
4,CD000005,AMMI,KARIM,AMMI KARIM,19/10/03,DAKHLA,13.85,SCIENCES DE LA VIE ET DE LA TERRE,15.94,SVI,3.0
5,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
6,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
7,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,SVI,3.0
8,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,SCIENCES PHYSIQUES,15.23,SMP,3.0
9,CD000010,DMINI,SAAD,DMINI SAAD,16/05/98,FES,16.44,SCIENCES MATHÉMATIQUES A,11.68,SMI,5.0
10,CD000011,AOUADI,HAMZA,AOUADI HAMZA,29/02/92,FES,NaN,NaN,NaN,SMI,NaN
11,CD000012,SAMI,ILIASS,SAMI ILIASS,10/08/95,NADOR,16.01,SCIENCES PHYSIQUES,NaN,NaN,4.0
12,CD000013,ALAOUI,ANASS,ALAOUI ANASS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CD000004,BENSLIMANE,ILHAME,BENSLIMANE ILHAME,25/11/02,TANGER,18.17,SCIENCES PHYSIQUES,13.46,SMC,6.0
14,CD000002,ALAMI,ALAE,ALAMI ALAE,08/12/03,RABAT,10.52,SCIENCES MATHÉMATIQUES B,15.31,SMA,3.0
15,CD000009,CHIBI,HIBA,CHIBI HIBA,28/02/02,MEKNES,15.73,SCIENCES PHYSIQUES,15.23,SMP,3.0
16,CD000007,OUATIK,JALAL,OUATIK JALAL,23/01/04,FES,10.68,SCIENCES MATHÉMATIQUES B,10.00,SMC,4.0
17,CD000003,ZANOUU,ABDERAHIMME,ZANOUU ABDERAHIMME,28/06/94,FES,11.01,SCIENCES PHYSIQUES,12.52,SMP,5.0
18,CD000006,SAIQ,MOHAMMED,SAIQ MOHAMMED,08/08/99,MEKNES,17.00,SCIENCES MATHÉMATIQUES B,16.09,SMA,5.0
19,CD000008,ZAIM,MERIAM,ZAIM MERIAM,01/01/01,RABAT,12.96,SCIENCES DE LA VIE ET DE LA TERRE,14.87,SVI,3.0