In [ ]:
import pandas 
import warnings

warnings.filterwarnings("ignore")

In [ ]:
data_frame = pandas.read_excel("D:\\master2\\powerBI\\Tp\\files\\Etudiants.xlsx")

In [ ]:
data_frame.head(5)

In [ ]:
data_frame.tail(5)

In [ ]:
data_frame.shape

In [ ]:
data_frame.info() # this is desc in sql basically it gives you the data type of each column and the number of non null values

In [ ]:
data_frame.describe() # Returns Series or DataFrame Summary statistics of the Series or Dataframe provided.

In [ ]:
data_frame.iloc[0:1]  # iloc is used to select rows and columns by number, in the order that they appear in the data frame

In [22]:
data_frame.iloc[0].values # this will return the first row as a list

array(['CD000001', 'BOUZIDI AMINE', '09/03/2000', 'FES', 14.29,
       'sciences mathématiques a', 14.07, 'SMI', 3.0], dtype=object)

In [ ]:
data_frame["Date de Naissance"] # this will return the column Date de Naissance

In [ ]:
data_frame.columns # this will return the columns names as a list

In [ ]:
data_frame[["CIN", "Date de Naissance"]].iloc[0:1] # this will return the first row of the columns CIN and Date de Naissance

In [ ]:
data_frame[data_frame["Note Bac"]>14] # this will return the rows where the value of the column Note Bac is greater than 14
#its called filtering

In [ ]:
data_frame[(data_frame["Lieu de Naissance"]=='FES')| (data_frame["Lieu de Naissance"]=='RABAT')] 
# this will return the rows where the value of the column Lieu de Naissance is FES or RABAT

In [ ]:
data_frame.duplicated() # this will return a boolean series where True means that the row is duplicated

In [ ]:
# data_frame.drop_duplicates().duplicated()
data_frame.drop_duplicates()  # use in drop_duplicates(inplace = true) to change the data frame 
# or a new variable to store the new unique valuse

In [ ]:
data_frame[data_frame["Note Bac"].isna()]
# data_frame["Note Bac"].isna()

In [ ]:
data_frame[(data_frame["Note Bac"].isna() ) | (data_frame["Option Licence"].isna())]

In [ ]:
data_frame[data_frame.isna().any(axis=1)] # this will return the rows where there is at least one null value

In [ ]:
data_frame.isnull().sum() # this will return the number of null values in each column

In [ ]:
data_frame.isnull().any(axis=1) # this will return a boolean series where True means that the row has at least one null value

In [ ]:
data_frame.fillna("NULL") # this will replace all the null values with the string "NULL"

In [ ]:
data_frame.dropna() # this will remove all the rows that contain at least one null value

In [ ]:
nom = []
prenom = []

for i in range(len(data_frame)):
    print(
    "nom : " , data_frame["Nom et Prenom"].iloc[i].split()[0],
    "prenom: ",data_frame["Nom et Prenom"].iloc[i].split()[1]
    )
for i in range(len(data_frame)):
    nom.append( data_frame["Nom et Prenom"].iloc[i].split()[0])
    prenom.append (data_frame["Nom et Prenom"].iloc[i].split()[1])
print(nom)
print(prenom)
# this split the column Nom et Prenom into two columns Nom and Prenom

In [ ]:
data_frame.insert(1,"nom",nom,True) # this will insert the column nom at the index 1
data_frame

In [ ]:
data_frame.insert(2,"prenom",prenom,True) # this will insert the column prenom at the index 2
data_frame

In [ ]:
data_frame.drop("Nom et Prenom" ,axis=1) # this will remove the column Nom et Prenom

In [ ]:
data_frame[["nom","prenom"]] = data_frame['Nom et Prenom'].str.split(' ', expand= True) 
# this will split the column Nom et Prenom into two columns nom and prenom

In [ ]:

data_frame["Date de Naissance"] = pandas.to_datetime(data_frame["Date de Naissance"],format= 'mixed') 
# this will convert the column Date de Naissance to datetime
data_frame

In [ ]:
data_frame["Date de Naissance"] = data_frame["Date de Naissance"].dt.strftime("%d/%m/%y")
data_frame

In [ ]:
data_frame["Option Bac"] = data_frame["Option Bac"].str.upper() # this will convert the column Option Bac to uppercase
data_frame

In [ ]:
print(data_frame["Option Bac"].unique) # this will return the unique values of the column Option Bac

In [ ]:
def normalizeOptionFun(data_frame):
    for i in range(len(data_frame)):
        if(data_frame["Option Licence"].iloc[i] == "Sciences Mathématiques et Informatique" ):
            data_frame["Option Licence"].iloc[i] = 'SMI'
        elif (
            data_frame["Option Licence"].iloc[i]
            == "Sciences Mathématiques et Applications"
        ):
            data_frame["Option Licence"].iloc[i] = 'SMA'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Matière Physique":
            data_frame["Option Licence"].iloc[i] ='SMP'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Matière Chimie":
            data_frame["Option Licence"].iloc[i] = 'SMC'
        elif data_frame["Option Licence"].iloc[i] == "Sciences de la Vie":
            data_frame["Option Licence"].iloc[i] = "SVI"
        data_frame
    return data_frame
# this function will normalize the values of the column Option Licence
data_frame = normalizeOptionFun(data_frame)
data_frame